body {
	background:#F8F8F8;
}
p {
	text-align:center;
	font-family:"Segoe UI";
	font-size:20px;
}
.error {
	text-align:center;
	font-family:"Segoe UI";
	font-size:15px;
}
a {
	margin:auto;
	font-family:"Segoe UI";
	display:inline-block;
	padding:10px;
	width:200px;
	border-radius:8px;
	background:#34495E;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}
div {
	width:200px;
	margin:20px auto;
}